@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

//Font family variables//
$base-font: 'Montserrat', sans-serif;

//Color variables//
$pandablue: #468CCC;
$pandabluelight: #5DB0ED;
$orange: #FF834B;

//Susy mapping//
$susy:(
        columns: 12,
        gutters: 1/2,
        math: fluid,
        output: float,
        gutter-position: inside,
);

//Breakpoints//
$tablet: 500px;
$tabletlarge: 830px;
$desktop: 1000px;
$desktopsmall: 1400px;