footer{
  display: table;
  width: 90%;
  text-align: center;
  color: $pandablue;
  padding: 20px 10px;
  @include font-size(0.8);

  @include breakpoint($tabletlarge){
    @include font-size(1);
    width: 100%;
    padding: 40px 0px;
  }

  .icons_copyright{
    @include font-size(0.5);
    padding: 10px;

    @include breakpoint($tabletlarge){
      @include font-size(0.6);
    }

    @include breakpoint($desktop){
      @include font-size(0.8)
    }
    a{
      color: $pandablue;
      text-decoration: none;
    }
  }
}