.header{
  background-color: $pandablue;
  background-image: url("../assets/images/background.png");
  background-repeat: repeat;
  color: #FFF;
  padding: 40px 0px;

  @include breakpoint($desktopsmall){
    padding: 80px 0px;
  }

  .nav {
    display: table;
    width: 100%;

    .nav__left {
      text-align: center;
      width: 100%;

      @include breakpoint($tabletlarge) {
        @include span(6);
      }

      @include breakpoint($desktopsmall) {
        padding-left: 10%;
      }

      .nav__left__logo {
        width: 250px;
      }
    }

    .nav__right {
      text-align: center;

      @include breakpoint($tabletlarge) {
        @include span(6);
      }

      @include breakpoint($desktopsmall) {
        padding-right: 10%;
      }

      .nav__right__ul {
        list-style-type: none;
        padding: 0px;

        @include breakpoint($tabletlarge){
          padding: 10px;
        }

        .nav__right__ul__a{
          color: $pandablue;
          text-decoration: none;
          @include transition(all, 0.1s, ease-in-out);

          &:hover{
            color: #FFF;
            background-color: $pandabluelight;
            @include transition(all, 0.1s, ease-in-out);
          }

          @include breakpoint($tabletlarge){
            background-color: transparent;

            &:hover{
              background-color: transparent;
            }
          }
        }

        .nav__right__ul__li {
          padding: 10px 0px;
          margin-bottom: 2px;
          @include font-size(1.6);
          font-weight: 700;
          display: block;
          text-align: center;
          background-color: #FFF;
          color: $pandablue;
          @include transition(all, 0.1s, ease-in-out);

          &:hover{
            background-color: $orange;
            color: #FFF;
            @include transition(all, 0.1s, ease-in-out);
          }


          @include breakpoint($tabletlarge) {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0px;
            color: #FFF;
            background: none;
            padding: 10px;
            @include font-size(1.2);

            &:hover{
              color: $orange;
              background-color: transparent;
            }
          }

          @include breakpoint($desktop){
            @include font-size(1.4);
          }
          @include breakpoint($desktopsmall){
            @include font-size(1.6);
          }
        }
      }
    }
  }

  .title {

    .title__h1 {
      text-align: center;
      @include font-size(2);
      margin: 40px 0px 20px 0px;

      @include breakpoint($tabletlarge){
        @include font-size(3);
      }
    }

    .title__pandajack {
      width: 125px;
      display: block;
      margin: 0px auto;
      padding: 20px 0px;
    }
  }

  .contactCTA{

    .contactCTA__a{

      display: table;
      margin: 30px auto 0px auto;
      text-decoration: none;
      color: #FFF;
      background-color: $orange;
      border: 2px solid $orange;
      border-radius: 2px;
      padding: 10px 20px;
      @include font-size(1.8);
      @include transition(all, 0.2s, ease-in-out);

      &:hover{
        background-color: #FFF;
        color: $orange;
        border: 2px solid #FFF;
        @include transition(all, 0.2s, ease-in-out);
      }
    }
  }

}