/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/style/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

.text {
  font-size: 40px;
}

.header {
  background-color: #468CCC;
  background-image: url("../assets/images/background.png");
  background-repeat: repeat;
  color: #FFF;
  padding: 40px 0px;
}
@media only screen and (min-width: 1400px) {
  .header {
    padding: 80px 0px;
  }
}
.header .nav {
  display: table;
  width: 100%;
}
.header .nav .nav__left {
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 830px) {
  .header .nav .nav__left {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}
@media only screen and (min-width: 1400px) {
  .header .nav .nav__left {
    padding-left: 10%;
  }
}
.header .nav .nav__left .nav__left__logo {
  width: 250px;
}
.header .nav .nav__right {
  text-align: center;
}
@media only screen and (min-width: 830px) {
  .header .nav .nav__right {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}
@media only screen and (min-width: 1400px) {
  .header .nav .nav__right {
    padding-right: 10%;
  }
}
.header .nav .nav__right .nav__right__ul {
  list-style-type: none;
  padding: 0px;
}
@media only screen and (min-width: 830px) {
  .header .nav .nav__right .nav__right__ul {
    padding: 10px;
  }
}
.header .nav .nav__right .nav__right__ul .nav__right__ul__a {
  color: #468CCC;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.header .nav .nav__right .nav__right__ul .nav__right__ul__a:hover {
  color: #FFF;
  background-color: #5DB0ED;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
@media only screen and (min-width: 830px) {
  .header .nav .nav__right .nav__right__ul .nav__right__ul__a {
    background-color: transparent;
  }
  .header .nav .nav__right .nav__right__ul .nav__right__ul__a:hover {
    background-color: transparent;
  }
}
.header .nav .nav__right .nav__right__ul .nav__right__ul__li {
  padding: 10px 0px;
  margin-bottom: 2px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  text-align: center;
  background-color: #FFF;
  color: #468CCC;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.header .nav .nav__right .nav__right__ul .nav__right__ul__li:hover {
  background-color: #FF834B;
  color: #FFF;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
@media only screen and (min-width: 830px) {
  .header .nav .nav__right .nav__right__ul .nav__right__ul__li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px;
    color: #FFF;
    background: none;
    padding: 10px;
    font-size: 12px;
    font-size: 1.2rem;
  }
  .header .nav .nav__right .nav__right__ul .nav__right__ul__li:hover {
    color: #FF834B;
    background-color: transparent;
  }
}
@media only screen and (min-width: 1000px) {
  .header .nav .nav__right .nav__right__ul .nav__right__ul__li {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .header .nav .nav__right .nav__right__ul .nav__right__ul__li {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
.header .title .title__h1 {
  text-align: center;
  font-size: 20px;
  font-size: 2rem;
  margin: 40px 0px 20px 0px;
}
@media only screen and (min-width: 830px) {
  .header .title .title__h1 {
    font-size: 30px;
    font-size: 3rem;
  }
}
.header .title .title__pandajack {
  width: 125px;
  display: block;
  margin: 0px auto;
  padding: 20px 0px;
}
.header .contactCTA .contactCTA__a {
  display: table;
  margin: 30px auto 0px auto;
  text-decoration: none;
  color: #FFF;
  background-color: #FF834B;
  border: 2px solid #FF834B;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 18px;
  font-size: 1.8rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header .contactCTA .contactCTA__a:hover {
  background-color: #FFF;
  color: #FF834B;
  border: 2px solid #FFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer {
  display: table;
  width: 90%;
  text-align: center;
  color: #468CCC;
  padding: 20px 10px;
  font-size: 8px;
  font-size: 0.8rem;
}
@media only screen and (min-width: 830px) {
  footer {
    font-size: 10px;
    font-size: 1rem;
    width: 100%;
    padding: 40px 0px;
  }
}
footer .icons_copyright {
  font-size: 5px;
  font-size: 0.5rem;
  padding: 10px;
}
@media only screen and (min-width: 830px) {
  footer .icons_copyright {
    font-size: 6px;
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 1000px) {
  footer .icons_copyright {
    font-size: 8px;
    font-size: 0.8rem;
  }
}
footer .icons_copyright a {
  color: #468CCC;
  text-decoration: none;
}

.services {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  padding: 40px 0px;
}
@media only screen and (min-width: 830px) {
  .services {
    padding: 80px 0px;
  }
}
.services .services__img {
  width: 80px;
}
.services .strategy {
  text-align: center;
  display: table;
  padding: 10px;
}
@media only screen and (min-width: 830px) {
  .services .strategy {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}
.services .design {
  text-align: center;
  display: table;
  padding: 10px;
}
@media only screen and (min-width: 830px) {
  .services .design {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}
.services .development {
  text-align: center;
  display: table;
  padding: 10px;
}
@media only screen and (min-width: 830px) {
  .services .development {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: right;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}

.latestproject {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  text-align: center;
  padding: 0px 0px 40px 0px;
}
@media only screen and (min-width: 830px) {
  .latestproject {
    padding: 0px 0px 80px 0px;
  }
}
.latestproject .latestproject__p {
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}
.latestproject .latestproject__logo {
  width: 160px;
  margin: 0px auto;
  display: inline-block;
  vertical-align: middle;
}

.work {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  padding: 40px 0px;
  text-align: center;
  background-color: #468CCC;
  color: #FFF;
}
.work .work__h3 {
  font-size: 24px;
  font-size: 2.4rem;
  margin: 10px 0px 0px 0px;
}
.work .work__h4 {
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #FF834B;
  padding: 10px 20px;
  border-radius: 2px;
  display: table;
  margin: 20px auto;
}
.work .work__a {
  color: #FFF;
  text-decoration: underline;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.work .work__a:hover {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #5DB0ED;
}
.work .work__p {
  width: 80%;
  margin: 0px auto;
  padding: 10px;
  line-height: 1.4;
}
.work .work__img {
  width: 100%;
  max-width: 581px;
}
.work .work__1 {
  padding: 10px;
}
@media only screen and (min-width: 830px) {
  .work .work__1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}
.work .work__2 {
  padding: 10px;
}
@media only screen and (min-width: 830px) {
  .work .work__2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}

.team {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  padding: 40px 0px;
  text-align: center;
}
@media only screen and (min-width: 830px) {
  .team .team__sebastiaan {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}
@media only screen and (min-width: 830px) {
  .team .team__wim {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}
.team .team__img {
  width: 250px;
  border-radius: 125px;
}
.team .team__h3 {
  font-size: 24px;
  font-size: 2.4rem;
  margin: 10px 0px 0px 0px;
}
.team .team__h4 {
  font-size: 14px;
  font-size: 1.4rem;
}
.team .team__p {
  width: 80%;
  margin: 0px auto;
  padding: 10px;
  line-height: 1.4;
}
.team .socialmedia a {
  display: inline-block;
}
.team .socialmedia .socialmedia__img {
  padding: 10px;
}

.contact {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
  background-color: #468CCC;
  text-align: center;
  color: #FFF;
  padding: 40px 10px;
}
@media only screen and (min-width: 830px) {
  .contact {
    padding: 80px 0px;
  }
}
.contact .contact__h3 {
  font-size: 15px;
  font-size: 1.5rem;
  margin: 20px 0px 0px 0px;
}
@media only screen and (min-width: 1000px) {
  .contact .contact__h3 {
    font-size: 20px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1400px) {
  .contact .contact__h3 {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
.contact .contact__p {
  font-size: 9px;
  font-size: 0.9rem;
  background-color: #FF834B;
  color: #FFF;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 2px;
}
@media only screen and (min-width: 500px) {
  .contact .contact__p {
    display: table;
    font-size: 10px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1000px) {
  .contact .contact__p {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .contact .contact__p {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

.headerys {
  background: url("/assets/ys/Wodka_Cover.jpg") no-repeat center center fixed;
  height: 200px;
  background-size: cover;
}
@media only screen and (min-width: 1000px) {
  .headerys {
    height: 400px;
  }
}
@media only screen and (min-width: 1400px) {
  .headerys {
    height: 600px;
  }
}
.headerys .headerys__title {
  text-align: center;
  color: #FFF;
  margin: 0px;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 20px 0px 0px 0px;
}
@media only screen and (min-width: 500px) {
  .headerys .headerys__title {
    padding: 40px 0px 0px 0px;
  }
}
@media only screen and (min-width: 830px) {
  .headerys .headerys__title {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1000px) {
  .headerys .headerys__title {
    padding: 260px 0px 0px 0px;
  }
}
@media only screen and (min-width: 1400px) {
  .headerys .headerys__title {
    font-size: 20px;
    font-size: 2rem;
    padding: 360px 0px 0px 0px;
  }
}

.shirt {
  padding: 40px;
  text-align: center;
  display: table;
}
@media only screen and (min-width: 1000px) {
  .shirt {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}
.shirt img {
  width: 80%;
}
@media only screen and (min-width: 830px) {
  .shirt img {
    width: 500px;
  }
}

.bestelformulier {
  padding: 40px;
  display: table;
  margin: 0px auto;
}
@media only screen and (min-width: 1000px) {
  .bestelformulier {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 1.38889%;
    padding-right: 1.38889%;
  }
}
.bestelformulier .bestel__p {
  width: 80%;
  margin: 0px 0px 20px 0px;
}
.bestelformulier h2 {
  margin-top: 0px;
}
.bestelformulier p {
  width: 120px;
  display: inline-block;
}
.bestelformulier input {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #000;
}
.bestelformulier .bestelformulier__input {
  width: 150px;
  height: 20px;
  padding: 10px;
  font-size: 10px;
  font-size: 1rem;
  display: inline-block;
  margin: 10px 0px;
}
@media only screen and (min-width: 500px) {
  .bestelformulier .bestelformulier__input {
    width: 250px;
  }
}
.bestelformulier .maten p {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  font-size: 10px;
  font-size: 1rem;
}
.bestelformulier .maten .aantal {
  width: 70px;
  padding: 10px;
  font-size: 10px;
  font-size: 1rem;
}
.bestelformulier .maten .geslacht {
  width: 70px;
  padding: 10px;
  font-size: 10px;
  font-size: 1rem;
}
.bestelformulier .bestelbtn {
  width: 200px;
  height: 40px;
  background-color: #ff00ff;
  color: #FFF;
  border: none;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 10px 0px;
}
@media only screen and (min-width: 500px) {
  .bestelformulier .bestelbtn {
    width: 400px;
  }
}
.bestelformulier .bestelbtn:hover {
  cursor: pointer;
  background-color: #ff6dff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
