.contact{
  @include span(100%);
  background-color: $pandablue;
  text-align: center;
  color: #FFF;
  padding: 40px 10px;

  @include breakpoint($tabletlarge){
    padding: 80px 0px;
  }

  .contact__h3{
    @include font-size(1.5);
    margin: 20px 0px 0px 0px;

    @include breakpoint($desktop){
      @include font-size(2);
    }

    @include breakpoint($desktopsmall){
      @include font-size(2.4);
    }
  }
  .contact__p{
    @include font-size(0.9);
    background-color: $orange;
    color:#FFF;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 2px;

    @include breakpoint($tablet){
      display: table;
      @include font-size(1);
    }

    @include breakpoint($desktop){
      @include font-size(1.4);
    }

    @include breakpoint($desktopsmall){
      @include font-size(1.8);
    }
  }
}