.latestproject{
  @include span(100%);
  text-align: center;
  padding: 0px 0px 40px 0px;

  @include breakpoint($tabletlarge){
    padding: 0px 0px 80px 0px;
  }

  .latestproject__p{
    text-align: center;
    @include font-size(1.4);
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
  }

  .latestproject__logo{
    width: 160px;
    margin: 0px auto;
    display: inline-block;
    vertical-align: middle;
  }
}