.services{
  @include span(100%);
  padding: 40px 0px;

  @include breakpoint($tabletlarge){
    padding: 80px 0px;
  }

  .services__img{
    width: 80px;
  }

  .strategy{
    text-align: center;
    display: table;
    padding: 10px;

    @include breakpoint($tabletlarge) {
      @include span(4);
    }
  }

  .design{
    text-align: center;
    display: table;
    padding: 10px;

    @include breakpoint($tabletlarge) {
      @include span(4 at 5);
    }

  }

  .development{
    text-align: center;
    display: table;
    padding: 10px;

    @include breakpoint($tabletlarge) {
      @include span(4 at 9);
    }
  }

}