.team{
  @include span(100%);
  padding: 40px 0px;
  text-align: center;

  .team__sebastiaan{

    @include breakpoint($tabletlarge) {
      @include span(6);
    }
  }
  .team__wim{

    @include breakpoint($tabletlarge) {
      @include span(6 at 7);
    }
  }

  .team__img{
    width: 250px;
    border-radius: 125px;
  }

  .team__h3{
    @include font-size(2.4);
    margin: 10px 0px 0px 0px;
  }

  .team__h4{
    @include font-size(1.4);
  }

  .team__p{
    width: 80%;
    margin: 0px auto;
    padding: 10px;
    line-height: 1.4;
  }

  .socialmedia{

    a{
      display: inline-block;
    }

    .socialmedia__img{
      padding: 10px;
    }

  }

}