.work{
  @include span(100%);
  padding: 40px 0px;
  text-align: center;
  background-color: $pandablue;
  color: #FFF;

  .work__h3{
    @include font-size(2.4);
    margin: 10px 0px 0px 0px;
  }

  .work__h4{
    @include font-size(1.4);
    background-color: $orange;
    padding: 10px 20px;
    border-radius: 2px;
    display: table;
    margin: 20px auto;
  }

  .work__a{
    color: #FFF;
    text-decoration: underline;
    @include transition(all, 0.1s, ease-in-out);

    &:hover{
      @include transition(all, 0.1s, ease-in-out);
      color: $pandabluelight;
    }
  }

  .work__p{
    width: 80%;
    margin: 0px auto;
    padding: 10px;
    line-height: 1.4;
  }

  .work__img{
    width: 100%;
    max-width: 581px;
  }

  .work__1{
    padding: 10px;

    @include breakpoint($tabletlarge) {
      @include span(6);
    }
  }
  .work__2{
    padding: 10px;

    @include breakpoint($tabletlarge) {
      @include span(6 at 7);
    }
  }
}