.headerys{
  background: url("/assets/ys/Wodka_Cover.jpg") no-repeat center center fixed;
  height: 200px;
  background-size: cover;

  @include breakpoint($desktop){
    height: 400px;
  }

  @include breakpoint($desktopsmall){
    height: 600px;
  }

  .headerys__title{
    text-align: center;
    color: #FFF;
    margin: 0px;
    @include font-size(1.2);
    padding: 20px 0px 0px 0px;

    @include breakpoint($tablet){
      padding: 40px 0px 0px 0px;
    }

    @include breakpoint($tabletlarge){
      @include font-size(1.4);
    }

    @include breakpoint($desktop){
      padding: 260px 0px 0px 0px;
    }

    @include breakpoint($desktopsmall){
      @include font-size(2);
      padding: 360px 0px 0px 0px;

    }
  }
}

.shirt{
  padding: 40px;
  text-align: center;
  display: table;

  @include breakpoint($desktop) {
    @include span(6);
  }

  img{
    width: 80%;

    @include breakpoint($tabletlarge){
      width: 500px;
    }
  }
}

.bestelformulier{
  padding: 40px;
  display: table;
  margin: 0px auto;

  @include breakpoint($desktop) {
    @include span(6);
  }

  .bestel__p{
    width: 80%;
    margin: 0px 0px 20px 0px;
  }


  h2{
    margin-top: 0px;
  }

  p{
    width: 120px;
    display: inline-block;
  }
  
  input{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #000;
  }

  .bestelformulier__input{
    width: 150px;
    height: 20px;
    padding: 10px;
    @include font-size(1);
    display: inline-block;
    margin: 10px 0px;

    @include breakpoint($tablet){
      width: 250px;
    }
  }

  .maten{
    p{
      display: inline-block;
      vertical-align: middle;
      width: 120px;
      @include font-size(1);
    }
    .aantal{
      width: 70px;
      padding: 10px;
      @include font-size(1);
    }
    .geslacht{
      width: 70px;
      padding: 10px;
      @include font-size(1);
    }
  }
  .bestelbtn{
    width: 200px;
    height: 40px;
    background-color: #ff00ff;
    color: #FFF;
    border: none;
    @include font-size(1.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    @include transition(all, 0.2s, ease-in-out);
    margin: 10px 0px;

    @include breakpoint($tablet){
      width: 400px;
    }

    &:hover{
      cursor: pointer;
      background-color: #ff6dff;
      @include transition(all, 0.2s, ease-in-out);
    }
  }
}